@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;

  font-family: oswald;
}

* {
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Amethysta&family=Keania+One&family=Oswald:wght@200..700&family=Young+Serif&display=swap");

@theme {
  --font-oswald: Oswald, "sans-serif";
}
