@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Amethysta&family=Keania+One&family=Oswald:wght@200..700&family=Young+Serif&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: oswald;
}

* {
  box-sizing: inherit;
}

@theme {
  --font-oswald: Oswald, "sans-serif";
}

.cl-internal-1dauvpw {
  opacity: 0;
}

.cl-internal-1dauvpw {
  display: none;
}

.cl-internal-l2l775 {
  display: none;
}

.cl-userButtonPopoverActionButton__manageAccount {
  font-size: 0;
}

.cl-userButtonPopoverActionButton__manageAccount span::after {
  content: "Menaxho llogarinë";
  font-size: 14px;
  margin-left: 6px;
  text-wrap: nowrap;
}

.cl-userButtonPopoverActionButton__signOut {
  font-size: 0;
}

.cl-userButtonPopoverActionButton__signOut span::before {
  content: "Qkyqu";
  font-size: 14px;
  margin-left: 6px;
  text-wrap: nowrap;
}

.cl-userButtonPopoverActionButton__signOut span svg {
  display: none;
}
